* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
}

body{
	background-color: #FAF7EC;
}

header, main, footer{
	display: block;
	width: 100%;
}

h2{
	font-size: 3vw;
	text-align: center;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 1.2vw;
	line-height: 1.6;
}

a{
	font-size: 1.1vw;
}

h3 + p{
	margin-top: 2%;
}

h3 + p + h3{
	margin-top: 6%;
}

p + a{
	display: inline-block;	
}

ul {
	list-style-type: none;
}

a, a:link, a:visited, a:hover, a:active{
	color: black;
	text-decoration: none;
	font-weight: 600;
}

.flex{
	display: flex;
	flex-direction: row;
}

.padding{
	padding: 7%;
}

.green{
	background-color: #96C11F;
}

/* HEADER */
header{
	background-image: url(images/LOOP-pictures/headerbckgr.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	font-size: 18px;
	text-align: center;
}

nav{
	background-color: white;
	position: relative;
	/*position: fixed;*/
}

nav a{
	display: inline-block;
	border-radius: 5px;
}

.logo{
	background-image: url(images/LOOP-pictures/LOOP_animation.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 15vw;
	height: 15vw;

	position: absolute;
	border-radius: 50%;
	transform: translateY(-50%);

	animation-name: loop_logo;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

@keyframes loop_logo{
	0% 		{opacity: 0%;}
	15% 	{opacity: 0%;}
	30% 	{opacity: 100%;}

}

nav div{
	position: relative;
}

/* MAIN */
main{
	width: 86%;
	margin: 0 auto;
	margin-top: 7%;
}

section{
	width: 100%;
	background-color: white;
	margin-bottom: 5vh;
}

section article{
	position: relative;
}

.centeredh2{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* SECTION 1 */


/* SECTION 2 */


/* SECTION 3 */

.bigbanner{
	color: white;
	background-image: url(images/LOOP-pictures/beefit.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bigbanner h2{
	text-shadow: black 3px 3px 0;
}

.c3{
	width: 100%;
}

.c3 div{
	width: 30%;
	margin: 0 auto;
}

/* SECTION 4 */



/* SECTION 5 */
.section5{
	background-image: url(images/LOOP-pictures/gift.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}

.section5 *:not(article){
	margin-bottom: 2%;
}

.section5 a{
	color: white;
	background-color: rgba(	150, 193, 31);
	border-radius: 5px;
	padding: 2.5% 5%;
}

.section5 article{
	margin-top: 7vw;
}

.section5 a:hover{
	background-color: rgba(	150, 193, 31, .7); 
}

/* SECTION 6 */



/* FOOTER */
footer{
	clear: both;
	display: flex;
	flex-direction: row;
	background-color: #8C8B89;
}

footer article{
	text-align: center;
}

/*Mobile*/
@media (max-width:460px) {

	body,
	header,
	main, section, article, footer {
		width: 100vw;
	}

	p, a {
		font-size: 4.7vw;
	}

	h3 {
		font-size: 6.5vw;
	}

	h2 {
		font-size: 7.5vw;
	}

	header {
		height: 35vh;
	}


/*HEADER*/
nav {
	padding: .5% 7%;
	width: 100vw;
	top: 88.5%;
	flex-direction: column;
	
}

nav div.flex {
	flex-direction: column;
}

nav a {
	padding: 1% 2%;
	
}

.logo {
	width: 30vw;
	height: 30vw;
	margin-left: 28%;

}

nav div {
	
	width: calc(100% - 25%);
	display: none;
}



/* MAIN */

main {
	width: 100vw;
	margin-top: 7%;
}

section {
	box-shadow: 3px 3px 3px gray;
	width: 100vw;
}
section img {
	height: auto;
	width: 100vw;
}
section article {
	width: 100vw;
}

/* SECTION 1 */

/* SECTION 2 */
.section2 {
	flex-direction: column-reverse;	
}

.section2 article {
	height: 50vh;
}

/* SECTION 3 */


.section3 article{

}

.flex {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	
}

.flex div {
	width: 100%;
}
.bigbanner{
	height: 30vh;
}

/* SECTION 4 */

.section4 .green{
	height: 250px;
}



/* SECTION 5 */
.section5 {
	height: 60vh;
	padding-left: 0;
	padding-top: 70px;
}

.section5 p{
	font-weight: 400;
	text-shadow: 2px 2px 3px black;	
}

/* SECTION 6 */

.section6 article{
	height: 25vh;
}
.map{
	height: 50vh;
}
/* FOOTER */
footer {
	padding: 3.5% 7%;
	margin-top: 7%;
}

footer article {
	width: 100%;
	margin: 0 auto;

}

footer {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	
}



.icon{
	width: 20px;
	display: block;
	margin: 15px 0 0 45%;
}

.icon1{
	margin-top: 15px;
	width: 50px;
}

article + article{
	margin-top: 20px;
}

article .button{
	color: black;
	background-color: rgba(	150, 193, 31);
	border-radius: 5px;
	padding: 5px 10px;
}

}


/*Tablet*/
@media (min-width:461px) and (max-width:1023px){

	header{
		height: 30vh;
	}

	p {
		font-size: 1.8vw;
		line-height: 1.8;
	}

	main{
		width: 100%;
	}
	.logo{
		width: 20vw;
		height: 20vw;
		margin-left: 35vw;
	}

	nav{
		padding: .5% 7%;
		top: 88.5%;
		height: 5vw;
	}

	.inline li{
		display: inline-block;
	}

	.looplink{
		transform: translateX(380px);
	}

	.menu{
		padding: 10px;
	}

	.section5 article{
		margin-top: 5vw;
	}
	

	.dropdown{
		display: none;
		position: absolute;
		background-color: rgb(31, 134, 0);
		transform: translateX(-40%);
	}
	
	.dropdown li{
		text-align: center;
	}
	.dropdown li a{
		padding: 10px 20px;
		display: block;
	}
	
	nav ul li:hover ul{
		display: block;
	}


	.left{
		margin-left: 15vw;
	}
	
	/*Section 1*/

	.flex p{
		font-size: 15px;
	}

	.green img{
		width: 50vw;
	}

	/*Section 2*/

	.family img{
		width: 55vw;
	}

	.section2 img{
		width: 50vw;
	}

	.bigbanner{
		height: 40vh;
	}
	.centeredh2{
		font-size: 40px;
	}

	.c3{
		width: 100%;
	}

	/*Section 4*/
	.section4 .green{
		width: 124vw;
		height: 50vw;
	}
	/*Section 5*/


	/*Section 6*/
	.section6 article {
		width: 50vw;
		height: 40vw;
	}

	.map{
		width: 50vw;
		height: 40vw;
	}

	/*Footer*/

	footer{
		clear: both;
		display: flex;
		flex-direction: row;
		padding: 3.5% 7%;
		height: 35vh;
		background-color: #8C8B89;
		margin-top: 7%;
	}
	
	footer article{
		width: 20%;
		margin:0 auto;
		text-align: center;
	}
	
	.icon{
		width: 20px;
		display: block;
		margin: 15px 0 0 45%;
	}
	
	.icon1{
		margin-top: 15px;
		width: 80px;
	}

	footer a{
		font-size: 1.5vw;
	}

	article .button{
		color: black;
		background-color: rgba(	150, 193, 31);
		border-radius: 5px;
		padding: 5px 10px;
	}

}

/*Desktop*/
@media screen and (min-width:1024px){

/* HEADER */

header{
	height: 35vw;
}

nav{
	padding: .5% 7%;
	top: 35vw;
}

nav a{
	padding: 1% 2%;
}

nav a:hover{
	transition: all .1s ease-in-out;
	background-color: rgba(	150, 193, 31, .7);
}

.logo{
	transform: translateY(-40%);
}

nav div{
	left: 25%;
	width: calc(100% - 25%);
}


/* MAIN */

main{
	width: 86%;
	margin: 0 auto;
	margin-top: 7%;
}

section{
	
	box-shadow: 3px 3px 3px gray;
}

section article{
	width: 60%;
}

/* SECTION 1 */
.section1 img{
	height: 40vw;
	width: 40vw;

}
/* SECTION 2 */
.section2 img{
	width: 50vw;
}

/* SECTION 3 */
.section3{
	height: 60vw;
}

.bigbanner{
	width: 100%;
	height: 35vw;
}
/* SECTION 4 */



/* SECTION 5 */
	
/* SECTION 6 */
.section6 article {
	width: 50vw;
	height: 40vw;
}

.map{
	width: 50vw;
	height: 40vw;
}

/* FOOTER */
footer{
	clear: both;
	display: flex;
	flex-direction: row;
	padding: 3.5% 7%;
	height: 35vh;
	background-color: #8C8B89;
	margin-top: 7%;
}

footer article{
	width: 20%;
	margin:0 auto;
	text-align: center;
}

.icon{
	width: 20px;
	display: block;
	margin: 15px 0 0 45%;
}

.icon1{
	margin-top: 15px;
	width: 80px;
}

footer a{
	font-size: 1.5vw;
}

article .button{
	color: black;
	background-color: rgba(	150, 193, 31);
	border-radius: 5px;
	padding: 5px 10px;
}

}









